
/*reset style start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
/*reset style end*/
/*---------------------------------------------------*/


body {
    font-family: Calibri, sans-serif;
    background-color: #fcfcfc;

}

/*HEADER*/

.header {
    margin: 0 auto;
    width: 1280px;
}


/*Title*/
.title {
    margin: 79px 0 45px;
    font-family: Calibri, sans-serif;
    font-size: 80px;
    color:  #000000;

}

.header-title {
    margin: 79px 0 45px;
    font-family: Calibri, sans-serif;
    font-size: 80px;
    color:  #000000;
    font-weight: normal;
    text-decoration: none;
}

.blue-color{
    color:  #4bcaff;
}

.title-link-color {
    color:  #000000;
}

/*Top menu*/
.top-menu {
    width: 1280px;
    background-color: #2a424e;
    font-family: Calibri, sans-serif;
    color: #bfc6ca;
    font-size: 24px;
    font-weight: 100;
    display: inline-block;
}

.top-menu-point {
    display: inline-block;
}

.top-menu-point:hover {
    background-color: #152b38;
    border: 1px solid #fff;

}

.func-pogramming-top-menu {
    padding: 30px 122px 21px 43px;
}

.ramda-top-menu {
    padding: 30px 41px 22px;
}

.fantasy-land-top-menu {
    padding: 30px 376px 22px 96px;
}

.link-underscore {
    text-decoration: none;
}

.link-color {
    color: #f1fdff;
}
/*-------------------------------------------*/


/*MAIN BLOCK*/
.main {
    width: 1280px;
    margin: 0 auto;
    margin-top: 51px;
    background-color: #f1fdff;
}


/*Side menu*/

.side-block {
    float: left;
}

.side-menu {
    /*display: inline-block;*/
    margin-right: 47px;
    width: 344px;
    background-color: white;
    border: 1px solid #35444f;
    font-family: Calibri, sans-serif;
    font-size: 25px;

}

.side-menu-point {
    padding: 28px 60px 28px 42px;
}

.side-menu-point:hover {
    padding: 28px 42px 28px 60px;
    background-color: #dcdcdc;
}

.side-link-color {
    color: #485863;
}

/*Picture*/
.picture {
    /*display: inline-block;*/
    float: left;
    width: 885px;
    /*height: 529px;*/

    border: 1px solid #35444f;
}

.logo {
    margin: 73px 268px 75px 297px;
}

/*Text*/
.text {
    /*display: inline-block;*/
    float: right;
    margin-top: 51px;
    margin-right: 50px;
    /*margin-bottom: 50px;*/
    width: 800px;
    padding: 0;
    line-height: 1.5;

}

/*Clearing container*/
.clearall{
    content: "";
    clear: both;
    /*display: none;*/
}
/*-------------------------------------------*/



/*FOOTER*/
.footer {
    margin: 0 auto;
    width: 1280px;
    background-color: #818181;

}

.down-menu {
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: Calibri, sans-serif;;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;

}

.down-menu-point {
    display: inline-block;
    padding: 20px 10px;
}

.first-down-menu-point {
    padding-left: 44px;
}

.down-link-color {
    color: #0c1927;
}

.down-link-color:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    padding-right: 40px;
    padding-left: 190px;
}